<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Categoría</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="../static/css/catalogue.css" th:href="@{/css/catalogue.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg shadow-lg p-3 mb-5 rounded fixed-top">
                <a class="navbar-brand" href="#">
                    <img src="https://cdn-icons-png.flaticon.com/512/815/815283.png" width="30" height="30" alt="">
                </a>
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navegación</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/catalogo}">Catágolo</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" th:href="@{/form/book/0}">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>

            <div class="row fantasia">
                <div class="fant-cat">
                    <h1 class="text-dark">Fantasía</h1>
                    <a th:href="@{catalogo/fantasia}" class="btn btn-dark d-block mx-auto mt-1" role="button" >Ver todo</a>
                </div>
                <hr>
                <div class="col text-center text-secondary" th:each="libro : ${fantasia}">
                    <strong><p class="mt-1" th:text="${libro.titulo}"></p></strong>
                    <a th:href="@{'/catalogo/buy/'+${libro.id}}" class="mx-auto" role="button" >
                        <div class="cont-img">
                            <img th:src="@{${libro.photosImagePath}}" class="rounded border border-secondary border-3 mt-2" alt="...">
                        </div>
                    </a>
                </div>
            </div>

            <div class="row horror mt-2">
                <div class="fant-cat">
                    <h1>Horror</h1>
                    <a th:href="@{catalogo/horror}" class="btn btn-dark d-block mx-auto mt-1" role="button" >Ver todo</a>
                </div>
                <hr>
                <div class="col text-center" th:each="libro : ${horror}">
                    <strong><p class="mt-1" th:text="${libro.titulo}"></p></strong>
                    <a th:href="@{'/catalogo/buy/'+${libro.id}}" class="mx-auto" role="button" >
                        <div class="cont-img">
                            <img th:src="@{${libro.photosImagePath}}" class="rounded border border-secondary border-3 mt-2" alt="...">
                        </div>
                    </a> 
                </div>
            </div>
            <div class="row horror mt-2">
                <div class="fant-cat">
                    <h1>Comics</h1>
                    <a th:href="@{catalogo/comics}" class="btn btn-dark d-block mx-auto mt-1" role="button" >Ver todo</a>
                </div>
                <hr>
                <div class="col text-center" th:each="libro : ${comic}">
                    <strong><p class="mt-1" th:text="${libro.titulo}"></p></strong>
                    <a th:href="@{'/catalogo/buy/'+${libro.id}}" class="mx-auto" role="button" >
                        <div class="cont-img">
                            <img th:src="@{${libro.photosImagePath}}" class="rounded border border-secondary border-3 mt-2" alt="...">
                        </div>
                    </a>
                </div>
            </div>
            <div class="img-top">
                <img src="https://www.pngitem.com/pimgs/m/181-1813104_manual-of-golems-magic-book-fantasy-drawing-hd.png" class="img-fluid">
            </div>
            <footer class="page-footer font-small mt-5 shadow-lg bg-secondary rounded">
                <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
                    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
                </div>
                <img src="https://www.blackstarsolutions.co.uk/app/themes/blackstar/dist/images/left-graphic.png" class="img-fluid" alt="...">
            </footer>
        </div>
        <canvas class="background"></canvas>
        <script type="text/javascript" th:src="@{js/particles.js-master/dist/particles.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
<script>
      window.onload = function() {
        Particles.init({
            selector: '.background'
        });
    };
</script>